.days {
    border: lightslategray solid 1px;
    padding: 2px;
    border-radius: 3px
}

#citySearch {
    border: lightslategray solid 1px;
    padding: 5px;
    border-radius: 8px
}

#searchHistory {
    padding-top: 10px
}

#currentCityInfo {
    border-bottom: lightslategray solid 1px;
    padding-bottom: 80px;
}

#currentCityMetrics {
    padding-top: 10px
}

.one-fifth {
    width: 15%;
}
